*{
    margin: 0;
    padding: 0;
}
html{
    height: 80rem;
}

@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Cherish&family=Cinzel+Decorative&family=Corinthia&family=Gwendolyn:wght@400;700&family=Kaushan+Script&family=Kolker+Brush&family=Lobster&family=Lobster+Two:ital,wght@1,700&family=Mea+Culpa&family=MonteCarlo&family=Playfair+Display:ital@1&family=Praise&family=Tangerine&display=swap');
 body{
    background: linear-gradient(to right , rgb(0, 140, 255,0.5) , rgb(4, 42, 255,0.5) , rgb(174, 0, 255,0.5)), url("images/pd.jpg");
    background-size: 100% 40%;
     background-repeat: no-repeat; 
}
#logo{
    color: rgb(255, 255, 255);
    font-size:2rem;
    font-weight: bold ;
    font-family:'Monte Carlo';
}


#hm{
  color: rgb(255, 255, 255);
  align-items: center ;
  justify-content: space-between;
  font-weight: 500;
  display: flex;
  margin:0 1rem;
  font-family:'Monte Carlo';
  font-size:medium;
}


#ab{
  color: rgb(255, 255, 255);
  align-items: center ;
  justify-content: space-between;
  font-weight: 500;
  display: flex;
  font-size: medium;
  margin-left: 6rem;
  margin:0 1rem;
  font-family:'Monte Carlo';
}


#co{
  color: rgb(255, 255, 255);
  align-items: center ;
  justify-content: space-between;
  font-weight: 500;
  display: flex;
  font-size: medium;
  margin-left: 13rem;
  margin: 1rem;
  font-family:'Monte Carlo';


}
.nav-link{
  font-size: medium;
  text-transform: uppercase;
}
#gh
{
  color: white;
  padding-top: 0.5rem;
  padding-left: 0.5rem;
  
  margin: 1.5rem;
  background: blue;
  height: 2.5rem;
  width: 7rem;
  border-radius: 8px;
}

section{
  color: white;
  margin-top: 9rem;
  margin-left: 32rem;
  
}
section h1{
  font-weight: bolder;
  font-size: 4rem;
}




.contact-form h2 {
	color: #fff;
}

.contact-form input {
	font-size: 13px;
	margin-bottom: 30px;
	width: 100%;
	height: 36px;
	padding-left: 15px;
	background-color: #fff;
	color: #000000;
	outline: none;
	border-radius: 0px;
}

.contact-form textarea {
	font-size: 13px;
	margin-bottom: 30px;
	width: 100%;
	height: 160px;
	max-height: 250px;
	padding-left: 15px;
	background-color: #fff;
	color: #000000;
	outline: none;
	border-radius: 0px;
}

.contact-form button {
	outline: none;
	width: 190px;
	height: 36px;
	background-color: #fffd77;
	font-size: 13px;
	color: #121212;
	font-weight: 600;
	border-radius: 0px;
}
#section4{
  float: left;
  margin-left: 3rem;
}
