@media screen and (max-width: 1000px) {
  #zee {
    display: none;
  }
}
@media screen and (max-width: 280px) {
  #li {
    width: 18rem;
  }
  #li1 {
    width: 29px;
    height: 29px;
    align-items: center;
    justify-content: center;
  }
  .logoWrapper {
    margin-top: 1rem;
  }
  #ct {
    font-size: 2vw;
  }
  #ct1 {
    font-size: 4vw;
  }
  #ct2 {
    font-size: 2.5vw;
  }
}

@media screen and (min-width: 768px) and (max-width: 915px) {
  #li {
    width: 18rem;
  }
  #li1 {
    width: 29px;
    height: 29px;
  }
}
@media screen and (min-width: 550px) and (max-width: 1028px) {
  .navigation {
    font-size: x-small;
  }
}
@media screen and (min-width: 280px) and (max-width: 550px) {
  .navigation {
    display: none;
  }
  #dv {
    display: none;
  }
  .navigationWrapper {
    height: 6rem;
  }
  .logoWrapper {
    padding-top: 3rem;
  }
}

@media screen and (min-width: 550px) {
  #mainbox {
    display: none;
  }
}
@media screen and (max-width: 300px) {
  #head {
    font-size: medium;
  }
  #para {
    font-size: x-small;
  }
  .content {
    margin-top: 7rem;
  }
  #lg {
    width: 9rem;
  }
}

@media screen and (min-width: 600px) and (max-width: 940px) {
  #sec {
    font-size: 8px;
  }
}
@media screen and (min-width: 600px) and (max-width: 940px) {
  .content {
    margin-top: 9rem;
  }
  .box {
    height: 58vh;
  }
  #para {
    font-size: medium;
  }
}
@media screen and (min-width: 600px) and (max-width: 940px) {
  #ct {
    font-size: 1.5vw;
  }
  #ct1 {
    font-size: 3vw;
  }
  #ct2 {
    font-size: 2vw;
  }
  .box {
    height: 55vh;
  }
}

@media screen and (min-width: 940px) {
  .content {
    margin-top: 8.5rem;
  }
  #sec {
    font-size: larger;
  }
  #para {
    font-size: medium;
  }
  #ct {
    font-size: 1.1vw;
  }
  #ct1 {
    font-size: 2.5vw;
  }
  #ct2 {
    font-size: 1vw;
  }
}
@media screen and (min-width: 300px) and (max-width: 600px) {
  .content {
    margin-top: 6rem;
  }
  #head {
    font-size: large;
  }
  #para {
    font-size: small;
  }

  .box {
    height: 45vh;
  }
  #ct {
    font-size: 2vw;
  }
  #ct1 {
    font-size: 4.5vw;
  }
  #ct2 {
    font-size: 2.5vw;
  }
  .btn {
    width: 8rem;
    height: 2rem;
    font-size: xx-small;
  }
}
